.content-login{
    margin-top: 30px;
}
.orange {
    color: #f5791f;
}
.orange .carousel-heading {
    background: #f5791f;
    color: #fff;
}
.carousel-heading h4 {
    margin: 0;
    display: inline-block;
    padding: 12px 20px;
}
.page-content {
    padding: 10px 10px 10px;
    background: #fff;
    margin-bottom: 10px;
}
.page-content p{
    font-size: 14px;
    margin: 0 0 10px;
}
.iconic-input {
    position: relative;
    margin-bottom: 15px;
    width: 100%;
}
.iconic-input .icons {
    position: absolute;
    color: #7a8188!important;
    z-index: 9;
    left: auto!important;
    top: 10px!important;
    right: 10px!important;
}
.align-left {
    text-align: left;
}
.align-right {
    text-align: right!important;
}
.page-content input[type="text"]{
    width: 100%;
    background: #f7f7f7;
    font-size: 14px;
    padding: 5px 10px;
    border: 1px solid #e6e6e6;
    height: 40px;
}

.page-content input[type="password"]{
    width: 100%;
    background: #f7f7f7;
    font-size: 14px;
    padding: 5px 10px;
    border: 1px solid #e6e6e6;
    height: 40px;
}
input[type="submit"], input[type="reset"], input[type="button"] {
    background: #2ecc71;
    color: #fff;
    text-transform: uppercase;
    height: 40px;
    padding: 5px 15px;
    border: none;
    font-size: 14px;
    transition: background .3s;
    -webkit-transition: background .3s;
    -moz-transition: background .3s;
    -ms-transition: background .3s;
    -o-transition: background .3s;
}

.green {
    color: #2ecc71;
}
.green .carousel-heading {
    background: #2ecc71;
    color: #fff;
}

.page-content ul, .page-noneback ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.register-account p {
    margin: 5px 0 25px;
}
.page-content li, .page-noneback li {
    margin: 10px 0;
    font-size: 14px;
}
a.button.big {
    font-size: 18px;
    padding: 15px 30px;
    height: 50px;
}
a.button {
    background: #34495e;
    padding: 10px 15px;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    text-decoration: none;
    border-radius: 4px;
}